/* PublicFeed.css */

.search-bar-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 0px !important;
}

.search-input {
    height: 40px;
    flex-grow: 1;
    padding: 0 !important;
    border: 0 solid #ccc;
    border-radius: 4px 0 0 4px !important; /* Round only the left side corners */
    margin-right: 0px !important; /* Overlap the border of the button */
}

.search-button {
    height: 40px;
    padding: 0 !important; /* Remove padding */
    border: 1px solid #ccc; /* Match input border */
    border-radius: 0 4px 4px 0 !important; /* Round only the right side corners */
    margin: 0;
    color: white; /* Your preferred icon color */
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-input:focus {
    outline: none; /* Optionally remove the outline on focus */
}
.create-post-container {
    text-align: center; /* Centers the title and button */
    margin-bottom: 20px; /* Space below the container */
}
.create-post-section {
    display: flex;
    align-items: center; /* Aligns items vertically */
    justify-content: flex-start; /* Aligns items to the start of the container */
    margin-bottom: 20px; /* Space below the section */
}
.create-post-title {
    margin-right: 10px;
    display: block; /* Makes the title a block element */
    margin-bottom: 10px; /* Space between title and button */
    font-size: 20px; /* Font size of the title */
    font-weight: bold; /* Bold font for the title */
}
.create-post-section {
    display: flex;
    align-items: center; /* Aligns items vertically */
    justify-content: center; /* Center align items horizontally */
    margin-bottom: 20px; /* Space below the section */
}

.create-post-title {
    margin-right: 10px; /* Space between title and button */
    font-size: 20px; /* Font size of the title */
    font-weight: bold; /* Bold font for the title */
}