.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.closeButton {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    padding: 5px;
    border: 3px solid black;
    color: white;
    cursor: pointer;
    z-index: 3;
}

.closeButton:hover {
    background-color: #FF9E80;
    color: black;
}

.buttonScale:hover {
    transform: scale(1.5);
    transition: transform 0.2s;
}

.loginFormContainer {
    background-color: lightgrey;
    padding: 10px;
    width: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.inputGroup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 125%;
    margin-bottom: 10px;
    padding: 0 20px;
    transform: translateX(-117.7px);
}

.inputGroup label {
    flex-basis: 30%;
    text-align: right;
    padding-right: 15px;
}
.inputGroup input[type="text"],
.inputGroup input[type="password"] {
    flex-basis: 70%;
    margin: 0;
    padding: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 0px;
}


.buttonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-common {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    background-color: #FF6D00;
    color: white;
    cursor: pointer;
    height: 50px;
    border-radius: 40px;
}

.button-common:hover {
    background-color: #FF9E80;
}