.post-container {
    border: 3px solid black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
    width: 500px;
}

.post-title {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
}
.post-description {
    font-size: 1em;
    margin-bottom: 10px;
    color: #666;
}

.post-content {
    font-size: 1em;
    margin-bottom: 10px;
    line-height: 1.5;
}

