
button:active {
    transform: translateY(2px);
    box-shadow: black;
}


button {
    transition: transform 0.3s, box-shadow 0.3s;
}

button:hover {
    transform: scale(1.05);
}


.search-bar-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 0px !important;
}

.search-input {
    height: 40px;
    flex-grow: 1;
    padding: 0 10px !important;
    border: 3px solid black;
    border-right: none;
    background-color: gainsboro;
    border-radius: 4px 0 0 0 !important;
    margin-right: -1px !important;
}

.search-button {
    height: 46px;
    padding: 0 20px !important;
    border: 3px solid black;
    border-left: none;
    border-radius: 0 4px 4px 0 !important;
    margin: 0;
    margin-left: -3px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: purple;
}

.search-input:focus, .search-button:focus {
    outline: none;
    border-color: black;
    box-shadow: 0 0 5px black;
}

input[type="text"] {
    background-color: white;
    color: black;
    text-align: left;
    font-family: 'Terminal';
    font-size: 15px;
    border-radius: 3px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s, transform 0.5s;
}

input[type="text"]:focus {
    border-color: black;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2), 0 0 5px black;
}

.profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin: 5px;
    border: none;
    marginLeft: 'auto';
    position: relative;
    right: 0;
    top: 10%;
    align-items: center;
}