
button:active {
    transform: translateY(2px);
    box-shadow: 0 2px #cc3700;
}

.closeButton:hover {
    background-color: #FF9E80;
}

/* PublicFeed.css for Search Bar */

.search-bar-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 0px !important;
}

.search-input {
    height: 40px;
    flex-grow: 1;
    padding: 0 10px !important;
    border: 3px solid black;
    border-right: none; /* Remove right border */
    background-color: gainsboro;
    border-radius: 4px 0 0 0 !important; /* Adjusted border-radius */
    margin-right: -1px !important; /* Overlap the border of the button */
}

.search-button {
    height: 46px;
    padding: 0 20px !important;
    border: 3px solid black;
    border-left: none; /* Remove left border */
    border-radius: 0 4px 4px 0 !important; /* Adjusted border-radius */
    margin: 0;
    margin-left: -3px; /* Move button slightly to the left */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: purple; /* Match button background */
}

.search-input:focus, .search-button:focus {
    outline: none;
    border-color: #FF4500;
    box-shadow: 0 0 5px #FF4500;
}

input[type="text"] {
    background-color: white;
    color: black;
    text-align: left;
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Marker Felt', sans-serif;
    font-size: 15px;
    border-radius: 3px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s, transform 0.5s;
}

input[type="text"]:focus {
    border-color: #FF4500;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2), 0 0 5px #FF4500;
}

.profile-picture {
    width: 150px; /* Adjust size as needed */
    height: 150px; /* Adjust size as needed */
    border-radius: 50%; /* Circular profile picture */
    object-fit: cover; /* Ensure the image covers the area without distortion */
    margin: 5px;
    border: none;
    font-size: 75px !important;
    marginLeft: 'auto';
    position: relative;
    right: 0;
    top: 10%;
    align-items: center;
}