.button-forgotpassword {
    width: 400px !important;
    length: 400px !important;
    transition: transform 0.01s ease-in-out;

}

.button-forgotpassword:hover {
    transform: translateX(-15px) scale(1.5);
}