.create-post-container {
    position: relative;
    margin: 0;
    padding: 0;
}

.button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 500px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    z-index: 1000;
}

.post-input, .post-textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.public-status-icon {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 15px;
}

.post-image-upload {
    display: none;
}

.image-upload-label {
    display: block;
    background-color: #f0f0f0;
    padding: 10px 20px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 15px;
    width: 300px;
    transform: translateX(75px);
}

.create-post-message {
    color: #d9534f;
    text-align: center;
}
.button:hover {
    background-color: darken(#FF6D00, 10%);
}