.create-post-container {
    background-color: lightgrey;
    justify-content: center;
    width: 500px;
}

.button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-container {

}

.post-input, .post-textarea {
    width: 50%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 3px;
}

.public-status-icon {
    cursor: pointer;
    margin-bottom: 15px;
}

.post-image-upload {
    display: none;
}

.image-upload-label {
    display: block;
    background-color: #f0f0f0;
    padding: 10px 20px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 15px;
    width: 300px;
    transform: translateX(75px);
}

.create-post-message {
    color: #d9534f;
    text-align: center;
}
button:hover {
    transform: scale(1.5);
    transition: transform 0.2s;
}
