.user-item {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 20px;
     background-color: antiquewhite;
     border-radius: 25px;
     outline: black;
     border-color: black;
     outline-width: 3px;
    margin-bottom: 20px;
 }

.user-item:hover {

}

.user-name {
    flex-grow: 1;
}

.button-group {

}

.user-item:nth-child(odd) {
    background-color: whitesmoke;
}

.user-item:nth-child(even) {
    background-color: lightgrey;
}
