.send-message-form {
    background-color: #f0f0f0; /* Light gray background */
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    margin: auto;
    justify-content: center;
}

.form-field {
    margin-bottom: 10px;
    text-align: center;
}

.input-field, .textarea-field {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.textarea-field {
    height: 100px; /* Adjust height as needed */
}

.send-button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
}

.error-message {
    color: red;
    text-align: center;
}

.form-title {
    font-size: 30px;
    margin: auto;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}