.create-message-container {
    align-items: center;
    background-color: #f3f3f3;
    border-radius: 8px;
    padding: 5px;
    width: 100%; /* Use full width or adjust as necessary */
    max-width: 500px; /* Max width to contain the form */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.create-message-form input,
.create-message-form textarea {
    width: calc(100% - 20px); /* Adjust width to account for padding */
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
    display: block; /* Ensure inputs and textarea take up full width */
}

.create-message-form textarea {
    height: 100px; /* Set a fixed height for the textarea */
    resize: vertical; /* Allow vertical resizing */
}

/* Adjust the checkbox alignment, if applicable */
.create-message-form .public-checkbox-wrapper {
    display: flex;
    align-items: center; /* Align checkbox and label vertically */
    margin: 10px 0; /* Consistent margin with other inputs */
}

.create-message-form .public-checkbox-wrapper input[type="checkbox"] {
    margin-right: 8px; /* Add space between checkbox and label */
}

.create-message-form .public-checkbox-wrapper label {
    margin: 0; /* Remove default margin from the label */
}

.create-message-form .create-post-button, .submit-post-button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    display: block; /* Make buttons block level for full width */
    width: calc(100% - 20px); /* Adjust width to account for padding */
    margin: 10px 0;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

.create-message-form .create-post-button:hover, .submit-post-button:hover {
    background-color: darkred;
    transform: scale(1.025);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.5);
}

.create-message-form .create-post-button svg {
    transition: transform 0.2s; /* Smooth transition for transform */
}

.create-message-form .public-status-icon {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px; /* Adjust the space between icon and text */
}

.create-message-form .public-status-icon svg {
    transition: transform 0.2s; /* Smooth transition for transform */
}

.create-message-form .create-post-message {
    margin-top: 10px;
    color: green; /* Or red in case of an error */
    padding: 10px 0;
    display: block; /* Ensure message takes up full width */
    width: calc(100% - 20px); /* Adjust width to account for padding */
}

.create-message-form .button {
    cursor: pointer;
    background-color: orange;
    color: white;
    display: inline-block; /* Center the icon */
    margin: 0 auto; /* Center the icon horizontally */
    transition: transform 0.3s ease; /* Smooth transition for transform */
}

.create-message-form .button:hover {
    transform: scale(1.1); /* Grow icon slightly on hover */
}