.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #FF6D00;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    z-index: 3;
    box-shadow: 0 3px black;
    /* Add transition effect */
    transition: transform 0.5s ease;

    /* Button size and layout */
    width: auto; /* or a specific width, e.g., 50px */
    height: auto; /* or a specific height, e.g., 30px */
}

.closeButton:hover {
    background-color: #FF9E80; /* Color change on hover */
    color:black;
}

.button-common {
    padding: 10px 10px;
    margin: 10px;
    background-color: #FF6D00;
    color: white;
    cursor: pointer;
    width: 150px;
    height: 50px;
}


.button-common:hover {
    background-color: #FF9E80;
    transform: scale(1.05) translateY(-5px);
    color: black !important;
}
